<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/trade">WebInvest</a> 
    <div class="me-auto">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/trade">Trade</a>
        <a class="nav-link active" href="/stocks">Stocks</a>
        <a class="nav-link active" href="/crypto">Crypto</a>
        <a class="nav-link active" href="/transactions">Transactions</a>
        <a class="nav-link active" href="/statistics">Statistics</a>
      </div>
    </div>
    <div class="navDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{currUser.username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/user">Profile</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
 </div>
</nav>

<div class="col-lg-3 stockSearch">
  <form class="d-flex" method="POST" action="/transactions">
        <input class="form-control" type="search" placeholder="Code" aria-label="Search" name="inputStockCode">
        <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<table class="table align-middle mb-0 bg-white">
  <thead>
    <tr>
      <th>Transaction Date</th>
      <th>Transaction Type</th>
      <th>Asset Type</th>
      <th>Code</th>
      <th>Transaction Price</th>
      <th>Transaction Quantity</th>
    </tr>
  </thead>
  <tbody>
    {{#each userTransactions}}
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1">{{this.date}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{this.transactionType}}</p>
      </td>
      <td>{{this.assetType}}</td>
      <td>{{this.symbol}}</td>
      <td>{{this.price}}</td>
      <td>{{this.quantity}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#each errors}}
<div>{{this}}</div>
{{/each}}
